Demo/xml-resources/web-service-references/WS961/wsdl/localhost_8080/WebApplication/WS961.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="getNumber" type="tns:getNumber"/>

<xs:element name="getNumberResponse" type="tns:getNumberResponse"/>

<xs:element name="greatestNumber" type="tns:greatestNumber"/>

<xs:element name="greatestNumberResponse" type="tns:greatestNumberResponse"/>

<xs:complexType name="greatestNumber">
<xs:sequence>
<xs:element name="answer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="greatestNumberResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNumber">
<xs:sequence>
<xs:element name="studentInfo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNumberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>